/*photogallery*/
.phocagallery-box-file-first {
	overflow: hidden; /*width:100px;height:100px;*/
	display: table;
	vertical-align: middle;
	position: relative;
}

.phocagallery-box-file-second {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
}

.phocagallery-box-file-third {
	position: relative;
	top: -50%;
	left: -50%;
	padding-top: 3px;
}

.phocagallery-box-file:hover, .phocagallery-box-file.hover {
}

#description-msg {
	bottom: 5px;
}

